//META {"name": "True_Theme", "description": "Dark simple theme", "author": "Truemedia", "version": "0.0.3"}*//{}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.channels-Ie2l6A, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,
.theme-dark .wrapper-1Rf91z, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY, .theme-dark .menu-Sp6bN1, .theme-dark .searchResult-3pzFAB .hit-NLlWXA,
.theme-dark .headerBar-UHpsPw, .theme-dark .footer-2yfCgX, .theme-dark .channelSeparator-1X1FuH .channelName-1QajIf,
.container-PNkimc, .theme-dark .footer-1FPmkC, .theme-dark .searchHeader-1l-wpR, .theme-dark .popouts-3dRSmE .da-popouts,
.theme-dark .typing-2GQL18, .theme-dark .applicationStore-1pNvnv, .theme-dark .searchResultsWrap-2DKFzt,
.theme-dark .members-1998pB, .theme-dark .quickswitcher-3JagVE, .theme-dark .activityFeed-1C0EmJ, .theme-dark .headerNormal-T_seeN, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.theme-dark .container-3gCOGc, .theme-dark .pageWrapper-1PgVDX, .theme-dark .topSectionNormal-2-vo2m,
.theme-dark .gameLibrary-TTDw4Y, .theme-dark .root-1BQpZw, .bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
.theme-dark .modal-3HD5ck, .theme-dark .autocomplete-1vrmpx, .theme-light .footer-2yfCgX, .theme-dark .body-3ND3kc,
.theme-dark .messagesPopoutWrap-1MQ1bW, .theme-dark .header-ykumBX, .theme-dark .jumpButton-3DTcS_, .topSectionPlaying-1J5E4n,
.theme-dark .sidebarRegion-VFTUkN, .theme-dark .contentRegion-3nDuYy, .video-1FfuMD, .topSectionPlaying-1J5E4n, .theme-dark .container-1r6BKw {
    background-color: rgb(34, 34, 34);
}

.newMessagesBar-mujexs, .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_, .theme-dark .action-1lSjCi, .theme-light .action-1lSjCi,
.theme-dark .cardPrimary-1Hv-to, .theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
    background-color: rgb(42, 42, 42);
}

.theme-dark .input-2VB9rf, .numberBadge-2s8kKX .base-PmTxvP .da-numberBadge .da-base {
    background-color: rgb(22, 22, 22);
}

.itemDefault-3Jdr52, .ui-tab-bar-item {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    border-radius: 2px;
    margin-bottom: 5px;
}

.channel-2QD9_O.selected-1HYmZZ a {
    transition: .4s;
    background-color: rgb(26, 26, 26);
}

.usernameOnline-3jr_0Y {
    font-weight: bold;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 22);
    border: none;
}

.newMessagesBar-mujexs:hover {
    transition: .4s;
    background-color: rgb(46, 46, 46);
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: rgb(28, 28, 28);
    border: none;
}

.wrapper-232cHJ {
    background-color: rgb(22, 22, 22);
    box-shadow: none;
}

.theme-dark .wrapped-15rg6t, .theme-dark .wrapped-15rg6t:hover {
    transition: .4s;
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgb(34, 34, 34);
    border-color: rgb(24, 24, 24);
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: rgb(18, 18, 18);
}

.theme-light .input-UJ9Tr3 {
    color: #a7a7a7;
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background-color: rgb(24, 24, 24);
    transition: .4s;
}

.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: #131415;
}

.itemDefault-3Jdr52, .ui-tab-bar-item {
    background: none;
    border: none;
}

.theme-dark .isMentioned-N-h9aa {
    background-color: rgba(187, 187, 187, 0.1);
}

.isMentionedCozy-3isp7y:after {
    background-color: rgba(187, 187, 187, 0.2);
    border-color: #fff;
}
